GITHUB_OWNER=chihuyenichi
GITHUB_REPO=huyenchi-blog
GITHUB_BRANCH=main
GITHUB_TOKEN=github_pat_...
GITHUB_OAUTH_CLIENT_ID=...
GITHUB_OAUTH_CLIENT_SECRET=...
ADMIN_GITHUB_LOGINS=chihuyenichi
ADMIN_SESSION_SECRET=replace-with-a-long-random-secret
